$border: 1px solid #333;

html {
    height: 100%;
    &, body {
	margin: 0;
	padding: 0;
    }
}

body {
    background: #eee;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

p {
    margin: 0;
}

p + p {
    margin-top: 1ex;
}

header {
    background-color: #eee;
    box-shadow: 0 0 1ex #444;
    position: sticky;
    top: 0;
    z-index: 9999;

    .user {
	form {
	    display: inline;
	    button {
	        border: 0;
		font: inherit;
		background: transparent;
		padding: 0;
		color: #805;
		&:hover {
		    text-decoration: underline;
		}
	    }
	}
    }
}

footer {
    background: #999;
    color: white;
    :link, :visited {
	color: #edf;
    }
    p { margin: 0; }
}

header, footer {
    display: flex;

    & > span {
        flex-grow: 1;
    }
    & > :last-child {
        flex-grow: 5;
        padding-left: 1em;
        text-align: right;
    }
    a {
	text-decoration: none;
	&:focus, &:hover {
	    text-decoration: underline;
	}
    }
}

main {
    flex-grow: 1;
    margin-bottom: 1em;

    form {
	border: $border;
	margin: auto;
	padding: 1em;
	width: -moz-fit-content;
	width: fit-content;

	p {
	    display: flex;
	    flex-flow: row wrap;
	    justify-content: space-between;
	}
	label {
	    padding: .2em 1em .2em 0;
	}
    }
}

header, footer, main {
    flex-wrap: wrap;
    padding: 0 1ex;
}
