@use templates::statics::style_css;
@use {footer, Session};

@(session: &Session, title: &str, content: Content)

<!doctype html>
<html>
  <head>
    <title>@title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/@style_css.name" type="text/css"/>
  </head>
  <body>
    <header>
      <span>Example app</span>
      @if let Some(u) = session.user() {<span class="user">@u.username (<a href="/logout">log out</a>)</span>}
      else { <span class="user">(<a href="/login">log in</a> or <a href="/signup">sign up</a>)</span> }
    </header>

    <main>
      <h1>@title</h1>
      @:content()
    </main>
    @:footer()
  </body>
</html>
